*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}