.usersPage__box-search{
    height: 5%;

    input{
        width: 250px;
        height: 50px;
        padding: 25px;
        border-radius: 25px;
        outline: none;
        font-size: 16px;
        border: 1px solid #bebebe;
    }
}